
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Ubuntu+Mono&display=swap');



.barheader {
  width: 360px;
  text-align:center;
  font-style: italic;
  font-weight: bolder;
  font-size: 14px;
  margin-top:50px;
  
  margin: auto;
  width: 25%;
}

.bardiv {
  height: 35px;
  width: 360px;
  color: #7ebdc2;
  background: #7ebdc2;
  margin: auto;
  width: 25%;
  line-height: 35px;	
  margin-bottom:8px;
  
}

.bar {
  width:50%;
  height: 35px;
  background: #bb4430;
  
}


.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 175px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 15px;
  font-family:'Ubuntu Mono';
}

.fakebutton {
  display: inline-block;
  border-radius: 4px;
  background-color: #7f4a37;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 175px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 15px;
  font-family:'Ubuntu Mono';
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.wrapper {
 text-align: center;
 color: #f3dfa2;
 background-color: #003366;
 background-color: #231f20;
 margin: auto;
 }

h1 {
 line-height:0;
 
}

.header {
	display:inline;
	font-size:40;
	text-align: center;
	background-color: #003366;
}

body {
 background-image: url(rectangles.png);
 font-family: 'Ubuntu Mono';
 color: #FFFFFF;

}

.underline {
border-top: 1px solid; 
}

.inlineDiv > * {
	display: inline-block;
	
}


