<!DOCTYPE html>
<html lang="en-US">
<head>

<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}?q=2" media="screen">
<link rel="shortcut icon" sizes="16x16" href="{{ url_for('static',filename='icon.png') }}">
<title>ANSWERTheInternet</title>

</head>
<body>

	<h1> Answer The Internet<button class="button" onclick="window.location.href = '/';"><span> Home </span></button></h1>	
	{% if previous != None %}
	<div class ="barheader">
		<h3>{{previous.body}}</h3>
		<p> answered <span style="font-size:24px;">{{previous.popularity}}</span> time{% if previous.popularity != 1 %}s{% endif %}</p>
		<p style="text-align:left;"> {{previous.optionOne}}<span style="float:right;"> {{previous.optionTwo}} </span></p>
	</div>
	<div class="bardiv" > 
		<div class="bar" style="width:{{qRat}}%;">  </div>
	</div>
	{% endif %}

	<div class="wrapper">
	<h2	style="display:inline;font-size:45px;"> {{ question.body }} </h2>
	</div>
	<div class="wrapper">
	<form action="" method="post" novalidate>
		<button style="background-color: #bb4430;"  type="submit" name="output" value="1" class="button"><span> {{ question.optionOne }} </span></button>
		<button style="background-color: #7ebdc2;" type="submit" name="output" value="2" class="button"><span> {{ question.optionTwo }} </span></button>
	</div>
		<button name="output" value="3" class="button"><span> Bad Question </span></button>

	</form>
		        <br>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}

</body>
</html>
	