<!DOCTYPE html>
<html lang="en-US">
<head>

<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" media="screen">
<title>ANSWERTheInternet</title>

</head>
<body>

	<h1> Answer The Internet<button class="button" onclick="window.location.href = '/';"><span> Home </span></button></h1>	
	{% if responses != None %}
	<p><b>Results from last question:</b> <b>{{responses[0]}}</b> : {{responses[1]}} : <b>{{responses[2]}}</b> </p>
	{% endif %}
	<div class="wrapper">
	<h2	style="display:inline;font-size:45px;"> {{ question.body }} </h2>
	</div>
	<div class="wrapper">
	<form action="" method="post" novalidate>
		<button style="background-color: #bb4430;"  type="submit" name="output" value="1" class="button"><span> {{ question.optionOne }} </span></button>
		<button style="background-color: #7ebdc2;" type="submit" name="output" value="2" class="button"><span> {{ question.optionTwo }} </span></button>
	</div>
		<button name="output" value="3" class="button"><span> Bad Question </span></button>

	</form>
		        <br>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}

</body>
</html>
	