<!DOCTYPE html>
<html lang="en-US">
<head>

<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css?q=2') }}" media="screen">
<link rel="shortcut icon" sizes="16x16" href="{{ url_for('static',filename='icon.png') }}">
<title>AskTheInternet | Home</title>

</head>
<body>

<div class="wrapper">

	<h1 style="font-size:70px;">Ask The Internet<img src="/static/thicklogo.png" width=80px height=100px></h1>
	<h2> Ask or Answer any Question your Heart Desires </h2> 
	<p>(at your own risk)</p>
	<p> Developed by Lance Gruber</p>
	
	{% if asked != 0 %}
	<button onclick="window.location.href = 'review';"class="button"><span> Review </span></button>
	<p> <span {% if asked == 5 %} style="color: red;" {% endif %}>{{asked}}/5</span> Questions Asked (Questions have a 48 hour lifespan)</p>
	{% endif %}
	<button onclick="window.location.href = 'faq';"class="button"><span> FAQ </span></button>
	{% if asked == 5 %}
	<p class="fakebutton"><span> Ask </span></p>
	{% else %}
	<button onclick="window.location.href = 'ask';"class="button"><span> Ask </span></button>
	{% endif %}
	<button onclick="window.location.href = 'answer';"class="button"><span> Answer </span></button> 
	
</div>

	<br>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul>
		{% for message in messages %}
		<li style="color: red;">{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
	{% block content %}{% endblock %}
	
</body>
</html>
